*html,body
{
margin: 0;
padding: 0;
}
header{
    background-color:deepskyblue;
    height: 112px;
    line-height: 112px;
}
ul{
   list-style: none;
}
ul li{
    display: inline-block;
}
nav ul{
    margin-left: 850px;
    margin-top:-115px;
    float: right;
}
.logo{
    margin-top: 30px;
}
header nav ul li a{
    padding-right: 10px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}
header nav ul li a:hover{
    text-decoration: none;
    color: orange;
}
.row a{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.row a:hover{
    text-decoration: none;
}
